@{
    ViewBag.Title = "Index";
}
<div style="height: 90vh">
    <div class="flex-center flex-column">
        <form method="post" action="@Url.Action("Login","Home")">
            <fieldset>
                <div class="card">
                    <div class="card-header mdb-color darken-4 white-text"><center><h2 class="card-title animated fadeIn mb-2">Login</h2></center></div>
                    <div class="card-body">
                        <div class="animated fadeIn mb-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" name="EmailAddress" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="@Request.Form["emailaddress"]">
                            </div>
                            @Html.ValidationMessage("emailaddress")
                        </div>
                        <div class="animated fadeIn mb-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                </div>
                                <input type="password" name="Password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" value="@Request.Form["password"]">
                            </div>
                            @Html.ValidationMessage("password")
                        </div>
                        @Html.ValidationMessage("AuthenticationError")
                        <div>
                            <center><input type="submit" value="Submit" class="btn btn-mdb-color" /></center>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
